@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 0%;
    --radius: 0.5rem;
  }

  .dark {
    /* #121212 in HSL */
    --background: 0 0% 7%;
    /* #1E1E1E in HSL */
    --card: 0 0% 12%;
    /* #E0E0E0 in HSL */
    --foreground: 0 0% 88%;
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 88%;
    /* #8B0000 in HSL */
    --primary: 0 100% 27%;
    --primary-foreground: 0 0% 100%;
    /* #1E1E1E with slight variation in HSL */
    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 88%;
    --muted: 0 0% 14%;
    /* #B0B0B0 in HSL */
    --muted-foreground: 0 0% 69%;
    /* #8B0000 in HSL */
    --accent: 0 100% 27%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 14.5%;
    --input: 0 0% 14.5%;
    /* #8B0000 in HSL */
    --ring: 0 100% 27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
